  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>


<div id = "header">
  <% if current_user %>
	<h1 align = "center">Welcome to the message board, <%=current_user.name%>! </h1>
  <% else %>
	<h1 align = "center">Welcome to the message board! </h1>
  <% end %>
</div>
<body>

<% if current_user%>
<div class="colmask leftmenu">
	<div class="colleft">
		<div class="col1">
		<h2> My Boards </h2>
    <hr>
		<% @userBoards.each do |t| %>
			 <%= link_to t.name, boards_show_path(t.id) %>
			</br>
		<% end %>
    <hr>
    <%=paginate @userBoards %>
	<% end %>
	</div>
	<div class = "col2">
	<% if current_user%>
</br>
    <%= link_to "Create New Board!", boards_new_path, method: :get %>
</br>
		<%= link_to "See all boards", boards_index_path %>
    <hr>
    <h1>Leaderboard</h1>
    <% User.all.sort_by(&:point).reverse.each do |u|%>
      <%=link_to u.name, ownpage_path(:user_id => u.id)%>, Points: <%=u.point%> </br>
    <%end%>
    <hr>
    <%= link_to "View my profile", ownpage_path(:user_id => current_user.id) %>
		<%= button_to 'Logout', destroy_user_session_path, method: :delete %>
	<% end %>
	</div>
  </div>
</div>
<div class = "footer">
	<% if not current_user %>

		<%= button_to "Sign up for free", new_user_registration_path, method: :get %>
		</br>
		<%= button_to "Sign in", new_user_session_path %>
	<% end %>
</div>

</body>
