<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p> <%= @user.posts.each do |t| %>
	Posts: <%= t.title %>
	Content: <%= t.content %> </p>
	<% end %>
<p>
<%= button_to "Create New Post!!", posts_create_path, method: :get %>
	
</p>

<p> <%= @user.boards.each do |t| %>
	Boards: <%= t.name %> </p>
	<% end %>

	<%= button_to "Create New Board!!", boards_create_path, method: :get %>