<%= stylesheet_link_tag    'login', media: 'all', 'data-turbolinks-track': 'reload' %>

<h2>User Info</h2>
<p>Name: <%= @user.name  %> </p>


<p>Email: <%= @user.email if @user.email %></p>
<p>Points: <%= @user.point %> </p>
<p>Joined: <%= @user.created_at %> </p>
<h2> Posts </h2>
<p> <% @userPosts.each do |t| %>
	<%= link_to t.title, posts_show_path(t.id) %> </br>
	<% end %>
	<%=paginate @userPosts%>
</br>
<h2>Achievements</h2>
<% if @user.achievements.length == 0%>
<p>No achievements unlocked yet!</p>
<%end%>
<% @user.achievements.each do |t| %>
	<p><i><%= t.name %></i></p>
	<h6><i> <%= t.description %> </i></h6>
	<% end %>
</br>
<%= link_to "Home", home_path %>
