<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<body>

<div id="header">
	  <h1><%= link_to @board.name, boards_show_path(@board.id) %></h1>
</div>
<div class="colmask leftmenu">
	<div class="colleft">
		<div class="col1">
			<h2>Comments</h2><hr>
			<% @comments.each do |p| %>
				<%= p.content %> </br>
				<% @cauthor = User.find(p.user_id) %>
				<%= link_to @cauthor.name, ownpage_path(:user_id => @cauthor.id) %>
				Likes: <%= p.likes %>
				<% if current_user %>
					<!-- debug: for some reason user_id of post seems to change when you switch users, and posts can't be liked -->
					<% if not(p.users.include?(current_user) or p.user_id == current_user.id) %>
							<%= link_to "Like", {controller: "posts", action: "like", id: p.id}, :method => :patch %>
					<% end %>
					<% if p.users.include?(current_user) %>
							<%= link_to "Unlike", {controller: "posts", action: "unlike", id: p.id}, :method => :patch %>
					<% end %>
					<% if current_user and  p.user_id == current_user.id %>
				</br>
						<%= link_to "Delete Comment", posts_destroy_path(id: p.id), data:{:confirm => "Are you sure you want to permanently delete your post?"}%>
					<%end%>
					<hr>
				<% end %>
			<% end %>
			<%=paginate @comments%>
<%= link_to "Add Comment", posts_new_path(comment: true, parent_id: @post.id, board: @post.board_id) %>
		</div>
		<div class="col2">

				<h3> <%= @post.title %> </h3>
				<%= @post.content %>
				<% @author = User.find(@post.user_id) %>
				<%= link_to @author.name, ownpage_path(:user_id => @author.id) %>
				</br>
				Likes: <%= @post.likes %>
				<% if current_user and  @post.user_id == current_user.id %>
					<%= link_to "Delete Post", posts_destroy_path(id: @post.id), data:{:confirm => "Are you sure you want to permanently delete your post?"}%>
				<%end%>
				<% if current_user and not(@post.users.include?(current_user) or @post.user_id == current_user.id) %>
				<!-- post.users signifies users who liked a post, so that they can't like the same post twice -->
					<%= link_to "Like", {controller: "posts", action: "like", id: @post.id}, :method => :patch %>
				<% end %>
				<% if @post.users.include?(current_user) %>
						<%= link_to "Unlike", {controller: "posts", action: "unlike", id: @post.id}, :method => :patch %>
				<% end %>

		</div>
	</div>
</div>
</body>
